img.clickable:hover {
	border: 5px green solid;
}

img.clickable {
	margin-left:5px;
}

.hidden {
	display:none;
}

.btn {
	margin-top:5px;
}

.selector {
  width: 100%;
  text-align: center;
}

.main-btn {
  width: 33%;
}

.sub-btn {
  width: 25%;
}

.subsub-btn {
  width: 50%;
}

.imgframe {
	width: 100%;
}

.boxlist {
	list-style-type: none;
	margin: 8px 0px 0px 8px;
	padding: 0px;
}

.imgbox {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: inline-block;
	border: 2px solid #AAAAAA;
	box-shadow: 0px 0px 2px #999999;
	width: 96px;
	height: 96px;
	text-align: center;
	margin: 0px 8px 8px 0px;
	padding: 5px;
	border-radius: 5px;
	overflow: hidden;
}

.document::after {
}

.imgbox:hover {
	border: 2px solid #78A300;
}

.highlight {
	box-shadow: 0px 0px 6px #679200;
	border: 2px solid #78A300;
}

.modal{
	width: 700px;
}

#externalURL {
	width: 300px;
}
